<section class="about-kitchen">
  <div class="about-kitchen-container container">
    <h2 class="about-kitchen-header">About our kitchen</h2>
    <p class="about-kitchen-semititle">Amet minim mollit non</p>
    <h3 class="about-kitchen-title">MIMIHO</h3>
    <p class="about-kitchen-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <img
      class="about-kitchen-img-1"
      srcset="
        /src/images/restaurant_page/about_kitchen/1_kitchen_desk@1x.jpg 460w,
        /src/images/restaurant_page/about_kitchen/1_kitchen_tab@1x.jpg  400w,
        /src/images/restaurant_page/about_kitchen/1_kitchen_mob@1x.jpg  244w,
        /src/images/restaurant_page/about_kitchen/1_kitchen_desk@2x.jpg 920w,
        /src/images/restaurant_page/about_kitchen/1_kitchen_tab@2x.jpg  800w,
        /src/images/restaurant_page/about_kitchen/1_kitchen_mob@2x.jpg  488w
      "
      sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (max-width: 1023px) 244px, 50vw"
      src="/src/images/restaurant_page/about_kitchen/1_kitchen_desk@1x.jpg"
      alt="Men cooking"
    />
    <div class="about-kitchen-desc">
      <img
        class="about-kitchen-img-2"
        srcset="
          /src/images/restaurant_page/about_kitchen/2_kitchen_desk@1x.jpg 460w,
          /src/images/restaurant_page/about_kitchen/2_kitchen_tab@1x.jpg  350w,
          /src/images/restaurant_page/about_kitchen/2_kitchen_mob@1x.jpg  200w,
          /src/images/restaurant_page/about_kitchen/2_kitchen_desk@2x.jpg 920w,
          /src/images/restaurant_page/about_kitchen/2_kitchen_tab@2x.jpg  700w,
          /src/images/restaurant_page/about_kitchen/2_kitchen_mob@2x.jpg  400w
        "
        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 350px, (max-width: 1023px) 200px, 50vw"
        src="/src/images/restaurant_page/about_kitchen/2_kitchen_desk@1x.jpg"
        alt="Fresh meat"
      />
      <p class="about-kitchen-desc-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="about-kitchen-slider-box">
      <ul class="about-kitchen-slider-list list">
        <li class="about-kitchen-slider-item">
          <img
            class="about-kitchen-slider"
            srcset="
              /src/images/restaurant_page/about_kitchen/slider_kitchen_1_desk@1x.jpg 254w,
              /src/images/restaurant_page/about_kitchen/slider_kitchen_1_tab@1x.jpg  194w,
              /src/images/restaurant_page/about_kitchen/slider_kitchen_1_mob@1x.jpg  245w,
              /src/images/restaurant_page/about_kitchen/slider_kitchen_1_desk@2x.jpg 508w,
              /src/images/restaurant_page/about_kitchen/slider_kitchen_1_tab@2x.jpg  490w,
              /src/images/restaurant_page/about_kitchen/slider_kitchen_1_mob@2x.jpg  388w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (max-width: 1023px) 245px, 50vw"
            src="/src/images/restaurant_page/about_kitchen/slider_kitchen_1_desk@1x.jpg"
            alt="Glass of wine"
          />
        </li>
        <li class="about-kitchen-slider-item"></li>
        <img
          class="about-kitchen-slider"
          srcset="
            /src/images/restaurant_page/about_kitchen/slider_kitchen_2_desk@1x.jpg 254w,
            /src/images/restaurant_page/about_kitchen/slider_kitchen_2_tab@1x.jpg  194w,
            /src/images/restaurant_page/about_kitchen/slider_kitchen_2_mob@1x.jpg   61w,
            /src/images/restaurant_page/about_kitchen/slider_kitchen_2_desk@2x.jpg 508w,
            /src/images/restaurant_page/about_kitchen/slider_kitchen_2_tab@2x.jpg  388w,
            /src/images/restaurant_page/about_kitchen/slider_kitchen_2_mob@2x.jpg  122w
          "
          sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (max-width: 1023px) 61px, 50vw"
          src="/src/images/restaurant_page/about_kitchen/slider_kitchen_2_desk@1x.jpg"
          alt="Served table"
        />
      </ul>
      <ul class="about-kitchen-icon-list list">
        <li class="about-kitchen-icon-item">
          <svg class="about-kitchen-slider-icon" width="32" height="32">
            <use href="/src/images/icons.svg#icon-slide-left"></use>
          </svg>
        </li>
        <li class="about-kitchen-icon-item">
          <svg class="about-kitchen-slider-icon" width="32" height="32">
            <use href="/src/images/icons.svg#icon-slide-right"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
