<!-- ++++++++++++++ section HERO ++++++++++++++++++++++++++++++++++++++++-->
		<section class="hero-rest">
				<div class="container">
					<a class="address-link link" 
					href="https://goo.gl/maps/MEEmZzPDVS3ncwmd8" target="_blank">
						<svg class="icon" width="20" height="20">
							<use href="/src/images/icons.svg#icon-mapa"></use>
						</svg>
						<address class="address">
							Україна, м. Полтава, <br />
							вул. Маршала Бірюзова, 15
						</address>
					</a>
					<h1 class="hero-title">MIMIHO</h1>
					<p class="hero-text">Ресторан</p>
					<p class="hero-slogan">СМАК ЖИТТЯ 24/7</p>
					<ul class="hero-button-list list">
						<li>
							<button class="button-order js-open-modal" 
							type="button" data-modal="1">Забронювати столик</button>
						</li>
						<li>
							<button class="button-order btn-ord-second-size hero-rest-none js-open-modal" 
							type="button" data-modal="2">Забронювати номер</button>
							<a class="button-order hero-rest-menu-link link" href="#menu">Переглянути меню</a>
						</li>
					</ul>
					<ul class="hero-social-list">
						<li>
							<a href="https://www.instagram.com/" class="hero-social-item" target="_blank">
								<svg width="24" height="24">
									<use href="/src/images/icons.svg#icon-insta"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/" class="hero-social-item" target="_blank">
								<svg width="24" height="24">
									<use href="/src/images/icons.svg#icon-face"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="https://telegram.org/" class="hero-social-item" target="_blank">
								<svg width="24" height="24">
									<use href="/src/images/icons.svg#icon-telega"></use>
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</section>