<section class="restaurant-menu-section" id="menu">
  <div class="container">
    <h2 class="title restaurant-menu-title">МЕНЮ РЕСТОРАНУ</h2>
    <div class="restaurant-menu-block">
      <ul class="restaurant-menu-list list">
        <!-- 1 ======== -->
        <li class="restaurant-menu-item">
          <h3 class="restaurant-menu-mini-title">Гарячі страви</h3>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name">
                Борщ з телятини з квасолею
              </h4>
              <p class="restaurant-menu-dish-text">
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
              </p>
            </div>
            <span class="restaurant-menu-item-service">400 г</span> 240 грн
          </div>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name">Суп сирний з куркою</h4>
              <p class="restaurant-menu-dish-text">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </p>
            </div>
            <span class="restaurant-menu-item-service">400 г</span> 200 грн
          </div>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name">Паста карбонара</h4>
              <p class="restaurant-menu-dish-text">
                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
              </p>
            </div>
            <span class="restaurant-menu-item-service">350 г</span> 430 грн
          </div>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name">Стейк зі свинини</h4>
              <p class="restaurant-menu-dish-text">
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </p>
            </div>
            <span class="restaurant-menu-item-service">400 г</span> 500 грн
          </div>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name">
                Горбуша в соусі з білого вина
              </h4>
              <p class="restaurant-menu-dish-text">
                Ніжна горбуша, вершковий соус на основі білого вина
              </p>
            </div>
            <span class="restaurant-menu-item-service">400 г</span> 400 грн
          </div>
        </li>
        <!-- 2 ======== -->
        <li class="restaurant-menu-item">
          <h3 class="restaurant-menu-mini-title">Гарніри та закуски</h3>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name">Запечені овочі</h4>
              <p class="restaurant-menu-dish-text">
                Кабачок, перець, помідор, баклажан
              </p>
            </div>
            <span class="restaurant-menu-item-service">200 г</span> 230 грн
          </div>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name">Картопля фрі</h4>
              <p class="restaurant-menu-dish-text">Картопля, соус томатний</p>
            </div>
            <span class="restaurant-menu-item-service">150 г</span> 160 грн
          </div>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name">Картопля по-селянськи</h4>
              <p class="restaurant-menu-dish-text">
                Картопля, спеції, соус пікантний
              </p>
            </div>
            <span class="restaurant-menu-item-service">150 г</span> 160 грн
          </div>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name">Хрумкі соління з бочки</h4>
              <p class="restaurant-menu-dish-text">
                Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські
              </p>
            </div>
            <span class="restaurant-menu-item-service">250 г</span> 350 грн
          </div>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name">
                Крильця курячі в медовому соусі
              </h4>
              <p class="restaurant-menu-dish-text">
                Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз
              </p>
            </div>
            <span class="restaurant-menu-item-service">400 г</span> 420 грн
          </div>
        </li>
      </ul>
      <ul class="restaurant-menu-list list">
        <!-- 3 ======== -->
        <li class="restaurant-menu-item">
          <h3 class="restaurant-menu-mini-title">Салати</h3>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name">Цезар з куркою</h4>
              <p class="restaurant-menu-dish-text">
                Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар
              </p>
            </div>
            <span class="restaurant-menu-item-service">230 г</span> 450 грн
          </div>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name">Цезар з креветками</h4>
              <p class="restaurant-menu-dish-text">
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар
              </p>
            </div>
            <span class="restaurant-menu-item-service">230 г</span> 300 грн
          </div>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name">Грецький салат</h4>
              <p class="restaurant-menu-dish-text">
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </p>
            </div>
            <span class="restaurant-menu-item-service">230 г</span> 280 грн
          </div>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name">М’ясний салат</h4>
              <p class="restaurant-menu-dish-text">
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч
              </p>
            </div>
            <span class="restaurant-menu-item-service">230 г</span> 300 грн
          </div>
        </li>
        <!-- 4 ======== -->
        <li class="restaurant-menu-item">
          <h3 class="restaurant-menu-mini-title">Десерти</h3>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name no-description">
                Торт наполеон
              </h4>
              <!-- <p class="menu-dish-text">
                        Description
                      </p> -->
            </div>
            <span class="restaurant-menu-item-service">230 г</span> 300 грн
          </div>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name no-description">
                Торт маковий
              </h4>
              <!-- <p class="menu-dish-text">Description</p> -->
            </div>
            <span class="restaurant-menu-item-service">230 г</span> 300 грн
          </div>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name no-description">Тірамісу</h4>
              <!-- <p class="menu-dish-text">
                        Description
                      </p> -->
            </div>
            <span class="restaurant-menu-item-service">120 г</span> 260 грн
          </div>
        </li>
        <!-- 5 ======== -->
        <li class="restaurant-menu-item menu-text-drink">
          <h3 class="restaurant-menu-mini-title">Напої</h3>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name no-description">
                Чай чорний/зелений
              </h4>
              <!-- <p class="menu-dish-text">
                        Description
                      </p> -->
            </div>
            <span class="restaurant-menu-item-service">500 мл</span> 100 грн
          </div>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name no-description">Еспресо</h4>
              <!-- <p class="menu-dish-text">Description</p> -->
            </div>
            <span class="restaurant-menu-item-service">30 мл</span> 100 грн
          </div>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name no-description">
                Американо
              </h4>
              <!-- <p class="menu-dish-text">
                        Description
                      </p> -->
            </div>
            <span class="restaurant-menu-item-service">150 мл</span> 100 грн
          </div>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name no-description">Капучино</h4>
              <!-- <p class="menu-dish-text">Description</p> -->
            </div>
            <span class="restaurant-menu-item-service">200 мл</span> 160 грн
          </div>
          <div class="restaurant-menu-text">
            <div class="restaurant-menu-dish">
              <h4 class="restaurant-menu-dish-name no-description">Лате</h4>
              <!-- <p class="menu-dish-text">
                        Description
                      </p> -->
            </div>
            <span class="restaurant-menu-item-service">200 мл</span> 160 грн
          </div>
        </li>
      </ul>
    </div>
    <button
      class="btn btn-restaurant-page js-open-modal"
      type="button"
      data-modal="1"
    >
      Забронювати столик
    </button>
  </div>
</section>
