:root {
  --base-color-primary: #F3C653;
  --base-color-blurred: rgba(243, 198, 83, 0.7);
  --base-color-secondary: #C79002;
}  
  
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: black;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  max-width: 414px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
