.page-footer {
  background-color: #0e0c07;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo-footer-text {
  display: block;
  margin-right: auto;
  margin-left: auto;

  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  color: var(--base-color-primary);
  text-transform: uppercase;
  transition: color 100ms linear;
}
.footer-menu-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--base-color-primary);

  transition: color 100ms linear;
}

.footer-text-soc {
  display: none;
}
.footer-list-link {
  fill: var(--base-color-blurred);
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  transition: color 100ms linear;
}
.social-footer {
  display: flex;
  gap: 20px;
}
.footer-menu {
  margin-bottom: 32px;
}
.footer-soc-menu {
  margin-right: 40px;
}

.footer-menu-wrapp {
  flex-basis: 38%;
}

.footer-menu-list:not(:last-of-type) {
  margin-bottom: 16px;
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 1024px) {
  .page-footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .footer-menu-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-menu-wrapp,
  .logo-footer-text {
    flex-basis: 50%;
  }

  .logo-footer-text {
    display: flex;
    justify-content: center;
    margin-left: -47px;

    font-size: 64px;
    line-height: calc(69 / 64);
    letter-spacing: 0.3em;
  }

  .footer-text-soc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: var(--base-color-primary);
  }
  .footer-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .footer-soc-menu {
    display: flex;
    gap: 137px;
  }
  .footer-list-link {
    // fill: var(--base-color-blurred);
    display: flex;
    justify-content: space-between;
    gap: 12px;
    width: 144px;
    height: 40px;

    padding-left: 12px;
    padding-right: 12px;

    border: 1px solid var(--base-color-primary);
    border-radius: 2px;
    transition: border-color 100ms linear;
  }
  .social-footer {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }

}


.footer-menu-text.link:hover,
.footer-menu-text.link:focus,
.logo-footer-text:hover,
.logo-footer-text:focus {
  color: var(--base-color-secondary);
  border-color: var(--base-color-secondary);
}

.footer-list-link.link {
  transform: scale(0.90);
  transition: transform 100ms linear;
}

.footer-list-link.link:hover,
.footer-list-link.link:focus {
 transform: scale(1);
}