.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #000;
}
.footer-direct {
    display: flex;
    justify-content: space-between;
}
.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.footer-logo {
    padding-top: 58px;
    padding-bottom: 35px;
    padding-left: 44px;
    font-family: 'Film P3', sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #f3c653;
}

.footer-menu-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-menu-item {
    display: flex;
    align-items: center;
}
.footer-social-list {
    margin: 0;
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 16px;
    list-style: none;      
}
.footer-item {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: #f3c653;
}