
.header {
  position: absolute;
  width: 100%;
}

.header-nav {
  display: flex;
}

.logo {
  font-family: "Film P3", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: calc(37 / 36);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  padding: 16px 0px;
  margin: 0;
}

.header-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 26px;
}

.header-item {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0px 0px 0px 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #F3C653;
}
.header-icons {
  margin-left: 12px;
}
.header-menu-item {
  display: flex;
}
.header-phone {
  display: flex;
  align-items: center;
  padding: 12px 8px 12px 8px;
  border: 1px solid rgba(243, 198, 83, 0.7);
}
.header-phone-number {
    display: none;
    font-size: 14px;
    line-height: calc(17 / 14);
    letter-spacing: 0.02em;
    color: #fff;
}