.amenities-section {
  padding-top: 32px;
  padding-bottom: 32px;
  background: #fffdee;
}

.amenities-main-title {
  margin-bottom: 16px;
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.16;
  color: #000;
}

.amenities-title-description {
  margin-bottom: 32px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7a7a7a;
}

.amenities-title {
  margin-bottom: 16px;
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #000;
}

.amenities-description,
.amenities-description-last {
  margin-bottom: 32px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7a7a7a;
}

@media screen and (min-width: 1024px) {
  .amenities-section {
    padding-top: 48px;
    padding-bottom: 40px;
  }

  .amenities-title-description {
    max-width: 757px;
  }

  .amenities-description-wrap {
    display: flex;
    column-gap: 80px;
  }

  .simpl-description {
    width: 400px;
  }
}

@media screen and (min-width: 1280px) {
  .amenities-section {
    padding-bottom: 48px;
  }

  .amenities-description-wrap {
    column-gap: 159px;
  }
}

.btn-amenities-book {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  margin-bottom: 20px;

  min-width: 290px;
  width: 100%;
  height: 64px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;

  background-color: #000;
  border: 1px solid #f3c653;
  border-radius: 25px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.btn-amenities-book:hover,
.btn-amenities-book:focus {
  background-color: #f3c653;
  color: #000;
}

.amenities-return {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-amenities-return {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #c79002;
}

.svg-amenities-return {
  fill: #c79002;
  margin-left: 12px;
}

.link-amenities-return:hover,
.link-amenities-return:focus {
  color: #f3c653;
}

.link-amenities-return:hover .svg-amenities-return,
.link-amenities-return:focus .svg-amenities-return {
  fill: none;
}

@media screen and (min-width: 414px) {
  .btn-amenities-book {
    width: 384px;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1024px) {
  .btn-amenities-book {
    margin-right: 0;
    margin-bottom: 32px;

    width: 434px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    
  }

  .amenities-return {
    justify-content: flex-end;
  }

  .link-amenities-return {
    font-size: 20px;
    line-height: 1.2;
  }

  .svg-amenities-return {
    margin-left: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .btn-amenities-book {
    margin-right: 12px;
  }

  .amenities-return {
    margin-right: 12px;
  }
}
