<section class="amenities amenities-section">
  <div class="container">
    <h2 class="amenities-main-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="amenities-title-description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="amenities-list list">
      <li class="amenities-item general">
        <h3 class="amenities-title">ЗАГАЛЬНІ</h3>
        <div class="amenities-description-wrap">
          <p class="amenities-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities-description-last">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities-item bathroom">
        <h3 class="amenities-title">ВАННА КІМНАТА</h3>
        <div class="amenities-description-wrap">
          <p class="amenities-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities-description-last">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities-item bedroom">
        <h3 class="amenities-title">СПАЛЬНЯ</h3>
        <p class="amenities-description simpl-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="amenities-item kitchen">
        <h3 class="amenities-title">КУХНЯ</h3>
        <div class="amenities-description-wrap">
          <p class="amenities-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="amenities-description-last">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="amenities-item media">
        <h3 class="amenities-title">МЕДІА</h3>
        <p class="amenities-description simpl-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
    <button
      class="btn-amenities-book btn js-open-modal"
      type="button"
      data-modal="2"
    >
      Оформити бронювання
    </button>

    <a class="link-amenities-return link" href="/src/hotel.html">
      <span class="amenities-return"
        >Повернутися до перегляду номерів
        <svg class="svg-amenities-return" width="24" height="24">
          <use href="/src/images/icons.svg#icon-slide-right"></use>
        </svg>
      </span>
    </a>
  </div>
</section>
