 <section class="amenities container">
        <h2 class="title-amenities">ЗРУЧНОСТІ У НОМЕРІ</h2>
        <p class="amenities-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <ul>
          <li  class="general">
            <h3 class="title-general">ЗАГАЛЬНІ</h3>
            <p class="general-one">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation
              veniam consequat sunt nostrud amet.
            </p>
            <p class="general-two">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation
              veniam consequat sunt nostrud amet.
            </p>
          </li>
          <li class="bathroom">
            <h3 class="title-bathroom">ВАННА КІМНАТА</h3>
            <p class="bathroom-one">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation
              veniam consequat sunt nostrud amet.
            </p>
            <p class="bathroom-two">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation
              veniam consequat sunt nostrud amet.
            </p>
          </li>
          <li class="bedroom">
            <h3 class="title-bedroom">СПАЛЬНЯ</h3>
            <p class="bedroom-one">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
          </li>
          <li class="kitchen">
            <h3 class="title-kitchen">КУХНЯ</h3>
            <p class="kitchen-one">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
            <p class="kitchen-two">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
          </li>
          <li class="media">
            <h3 class="title-media">МЕДІА</h3>
            <p class="media-one">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
          </li>
          <li class="amenities-btn">
            <button>ОФОРМИТИ БРОНЮВАННЯ</button>
          </li>
          <li class="amenities-link link">
            <a href="">Повернутися до перегляду номерів</a>
          </li>
        </ul>