<section class="amenities-double-room amenities-section">
  <div class="container">
    <h2 class="amenities-double-room-main-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="amenities-double-room-title-description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="amenities-double-room-list list">
      <li class="amenities-double-room-item general">
        <h3 class="amenities-double-room-title">ЗАГАЛЬНІ</h3>
        <div class="amenities-double-room-description-wrap">
          <p class="amenities-double-room-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities-double-room-description-last">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities-double-room-item bathroom">
        <h3 class="amenities-double-room-title">ВАННА КІМНАТА</h3>
        <div class="amenities-double-room-description-wrap">
          <p class="amenities-double-room-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities-double-room-description-last">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities-double-room-item bedroom">
        <h3 class="amenities-double-room-title">СПАЛЬНЯ</h3>
        <p class="amenities-double-room-description simpl-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="amenities-double-room-item kitchen">
        <h3 class="amenities-double-room-title">КУХНЯ</h3>
        <div class="amenities-double-room-description-wrap">
          <p class="amenities-double-room-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="amenities-double-room-description-last">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="amenities-double-room-item media">
        <h3 class="amenities-double-room-title">МЕДІА</h3>
        <p class="amenities-double-room-description simpl-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
    <button class="btn-amenities-double-room-book btn" type="button">
      Оформити бронювання
    </button>

    <div class="amenities-double-room-return">
      <a class="link-amenities-double-room-return link" href="#"
        >Повернутися до перегляду номерів</a
      >
      <svg class="svg-amenities-double-room-return" width="24" height="24">
        <use href="/src/images/icons.svg#icon-side-right"></use>
      </svg>
    </div>
  </div>
</section>
