<!-- ++++++++++++++ section HERO ++++++++++++++++++++++++++++++++++++++++-->
<section class="hero-room">
  <div class="container">
    <a class="address-link address-hero-room-position link" 
    href="https://goo.gl/maps/MEEmZzPDVS3ncwmd8" target="_blank">
      <svg class="icon" width="20" height="20">
        <use href="/src/images/icons.svg#icon-mapa"></use>
      </svg>
      <address class="address hero-room-address">
        Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15
      </address>
    </a>
    <h2 class="hero-room-title">ДВОМІСНИЙ НОМЕР люкс</h2>
    <p class="hero-room-text-eva">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <button class="button-order btn-hero-room js-open-modal" 
    type="button" data-modal="3">Переглянути ціни</button>
    <ul class="hero-room-social-list list">
      <li>
        <a href="https://www.instagram.com/" class="hero-social-item" target="_blank">
          <svg width="24" height="24">
            <use href="/src/images/icons.svg#icon-insta"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/" class="hero-social-item" target="_blank">
          <svg width="24" height="24">
            <use href="/src/images/icons.svg#icon-face"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://telegram.org/" class="hero-social-item" target="_blank">
          <svg width="24" height="24">
            <use href="/src/images/icons.svg#icon-telega"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
