<div class="modal-reservation">
  <button type="button" class="modal-btn-close" data-modal-close>
    <svg width="24" height="24">
      <use href="./images/icons.svg#icon-modal-close"></use>
    </svg>
  </button>
  <form class="modal-form" autocomplete="off">
    <strong class="modal-title">Забронювати Номер</strong>
    <ul class="modal-list">
      <li class="modal-list-item">
        <div
          role="group"
          aria-labelledby="person-contact"
          class="modal-group modal-contacts"
        >
          <div class="modal-form-field">
            <input
              type="text"
              name="name"
              id="name"
              class="modal-form-input item"
              placeholder="Ваше ім'я"
              title="Для написання ім'я використовуйте кирилицю"
              pattern="^[А-Яа-яІі\s]+$"
            />
            <label for="name" class="modal-form-label"
              >На кого забронювати номер?</label
            >
          </div>
          <div class="modal-form-field">
            <input
              type="text"
              name="tel"
              id="tel"
              class="modal-form-input item"
              placeholder="+38 (___) ___-__-__"
              title="Для написання номеру використовуйте формат +38 (___) ___-__-__"
              pattern="[\+]38\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
            />
            <label for="name" class="modal-form-label">Номер телефону</label>
          </div>
        </div>
      </li>
      <li class="modal-list-item">
        <div role="group" aria-labelledby="order-details" class="modal-group">
          <div class="modal-form-field select room-category">
            <select id="standard-select" class="modal-select">
              <option value="Двомісний">Двомісний</option>
              <option value="Двомісний люкс">Двомісний люкс</option>
              <option value="Трьохмісний">Трьохмісний</option>
            </select>
            <label for="number" class="modal-form-label room-category"
              >Категорія номеру</label
            >
          </div>
          <div class="room-order-date">
            <div class="modal-form-field select">
              <select id="standard-select" class="modal-select">
                <option value="Сьогодні">Сьогодні</option>
                <option value="Завтра">Завтра</option>
                <option value="Післязавтра">Післязавтра</option>
                <option value="Наступного тижня">Наступного тижня</option>
                <option value="Інша">Уточнити при дзвінку</option>
              </select>
              <label for="checkin-day" class="modal-form-label"
                >Дата заїзду</label
              >
            </div>
            <div class="modal-form-field select">
              <select id="standard-select" class="modal-select">
                <option value="Сьогодні">Сьогодні</option>
                <option value="Завтра">Завтра</option>
                <option value="Післязавтра">Післязавтра</option>
                <option value="Наступного тижня">Наступного тижня</option>
                <option value="Інша">Уточнити при дзвінку</option>
              </select>
              <label for="checkout-day" class="modal-form-label"
                >Дата виїзду</label
              >
            </div>
          </div>
        </div>
      </li>
    </ul>
    <button type="submit" class="modal-btn-confirm">Оформити бронювання</button>
  </form>
</div>
