<section class="two-persons-lux hotel-section">
  <div class="container">
    <div class="hotel-content-wrapper">
      <div class="hotel-content">
        <p class="hotel-room-slogan">Amet minim mollit non</p>
        <p class="hotel-room-logo">MIMIHO</p>
        <h2 class="hotel-room-title">ДВОМІСНИЙ НОМЕР люкс</h2>
        <p class="hotel-room-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="hotel-content content-right">
        <img
          class="image"
          srcset="
            /src/images/hotel-page/hotel-room-244.jpg 244w,
            /src/images/hotel-page/hotel-room-400.jpg 400w,
            /src/images/hotel-page/hotel-room-460.jpg 460w,
            /src/images/hotel-page/hotel-room-488.jpg 488w,
            /src/images/hotel-page/hotel-room-800.jpg 800w,
            /src/images/hotel-page/hotel-room-920.jpg 920w
          "
          sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 414px) 244px, 100vw"
          src="/src/images/hotel-page/hotel-room-244.jpg"
          alt="Вигляд готельного номера"
        />
      </div>
      <!-- <div class="hotel-content slider-wrapper"> -->

      <!-- <div class="slider-content left-side">
          <img
            class="image"
            srcset="
              /src/images/hotel-page/hotel-bath-194.jpg 194w,
              /src/images/hotel-page/hotel-bath-254.jpg 254w,
              /src/images/hotel-page/hotel-bath-388.jpg 388w,
              /src/images/hotel-page/hotel-bath-508.jpg 508w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
            src="/src/images/hotel-page/hotel-bath-194.jpg"
            alt="Вигляд ванної кімнати"
          />
          <img
            class="image"
            srcset="
              /src/images/hotel-page/hotel-window-194.jpg 194w,
              /src/images/hotel-page/hotel-window-254.jpg 254w,
              /src/images/hotel-page/hotel-window-388.jpg 388w,
              /src/images/hotel-page/hotel-window-508.jpg 508w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
            src="/src/images/hotel-page/hotel-window-194.jpg"
            alt="Вигляд з вікна номеру"
          />
        </div>

        <ul class="about-restourant-icon-list list slider-content">
          <li class="about-restourant-icon-item">
            <button class="about-restourant-icon-button">
              <svg class="about-restourant-slider-icon" width="32" height="32">
                <use href="/src/images/icons.svg#icon-slide-left"></use>
              </svg>
            </button>
          </li>
          <li class="about-restourant-icon-item">
            <button class="about-restourant-icon-button">
              <svg class="about-restourant-slider-icon" width="32" height="32">
                <use href="/src/images/icons.svg#icon-slide-right"></use>
              </svg>
            </button>
          </li>
        </ul> -->

      <div
        style="--swiper-navigation-color: #000; --swiper-pagination-color: #000"
        class="swiper mySwiper"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              srcset="
                /src/images/hotel-page/hotel-bath-194.jpg 194w,
                /src/images/hotel-page/hotel-bath-254.jpg 254w,
                /src/images/hotel-page/hotel-bath-388.jpg 388w,
                /src/images/hotel-page/hotel-bath-508.jpg 508w
              "
              sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
              src="/src/images/hotel-page/hotel-bath-194.jpg"
              alt="Вигляд ванної кімнати"
            />

            <div
              class="swiper-lazy-preloader swiper-lazy-preloader-white"
            ></div>
          </div>
          <div class="swiper-slide">
            <img
              srcset="
                /src/images/hotel-page/hotel-window-194.jpg 194w,
                /src/images/hotel-page/hotel-window-254.jpg 254w,
                /src/images/hotel-page/hotel-window-388.jpg 388w,
                /src/images/hotel-page/hotel-window-508.jpg 508w
              "
              sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
              src="/src/images/hotel-page/hotel-window-194.jpg"
              alt="Вигляд з вікна номеру"
            />
            <div
              class="swiper-lazy-preloader swiper-lazy-preloader-white"
            ></div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="hotel-content buttons" class="hotel-buttons-block">
        <a class="hotel-button link" href="/src/room.html">Детальніше</a>
        <button class="hotel-button link js-open-modal" data-modal="3">
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
