.modal-btn-close {
  position: absolute;
  top: 16px;
  right: 16px;
  border: transparent;
  background: transparent;
  cursor: pointer;
}

@media screen and (min-width: 360px) {
  .modal-btn-confirm {
    font-size: calc(13px + 1.1vw);
  }
}

@media screen and (min-width: 414px) {
  .modal-btn-confirm {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-reservation {
    padding: 60px;
  }
}
