.hero-hotel {
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 413.98px) {
  .hero-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/hotel_page/hero/hero_hotel_mob@1x.jpg);
  }
}

@media screen and (max-width: 413.98px) and (min-device-pixel-ratio: 2),
  screen and (max-width: 413.98px) and (min-resolution: 192dpi),
  screen and (max-width: 413.98px) and (min-resolution: 2dppx) {
  .hero-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/hotel_page/hero/hero_hotel_mob@2x.jpg);
  }
}

@media screen and (min-width: 414px) {
  .hero-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/hotel_page/hero/hero_hotel_tab@1x.jpg);
  }
}

@media screen and (min-width: 414px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 414px) and (min-resolution: 192dpi),
  screen and (min-width: 414px) and (min-resolution: 2dppx) {
  .hero-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/hotel_page/hero/hero_hotel_tab@2x.jpg);
  }
}

@media screen and (min-width: 1025px) {
  .hero-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/hotel_page/hero/hero_hotel_desk@1x.jpg);
  }
}

@media screen and (min-width: 1025px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1025px) and (min-resolution: 192dpi),
  screen and (min-width: 1025px) and (min-resolution: 2dppx) {
  .hero-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/hotel_page/hero/hero_hotel_desk@2x.jpg);
  }
}

.hero-hotel-btn-price {
  display: none;
}

@media screen and (min-width: 1024px) {
  .hero-hotel {
    padding-top: 100px;
    padding-bottom: 20px;
  }
  .hero-hotel .container {
    position: relative;
  }
  .hero-hotel-revers-list {
    flex-direction: row-reverse;
  }
  .hero-hotel-none {
    display: none;
  }
  .hero-hotel-btn-price {
    display: block;
    width: 232px;
  }
}
