// .two-persons-lux,
// .two-persons {
//   padding-top: 32px;
//   padding-bottom: 16px;
//   background-color: #fffdee;
//   position: relative;
// }

// .three-persons {
//   padding-top: 32px;
//   padding-bottom: 32px;
//   background-color: #f0ecd6;
//   position: relative;
// }

// @media screen and (min-width: 1024px) {
//   .two-persons-lux,
//   .two-persons,
//   .three-persons {
//     padding-top: 62px;
//     padding-bottom: 104px;
//   }
// }

// @media screen and (min-width: 1024px) {
//   .two-persons-lux,
//   .two-persons,
//   .three-persons {
//     padding-top: 72px;
//     padding-bottom: 112px;
//   }
// }

// .slogan {
//   font-family: 'Times New Roman';
//   font-size: 20px;
//   line-height: 1.15;
//   color: #b4b4b4;
//   margin-bottom: 8px;
// }

// @media screen and (min-width: 1024px) {
//   .slogan {
//     font-size: 32px;
//     line-height: 1.16;
//     margin-bottom: 4px;
//   }
// }



// @media screen and (min-width: 1024px) {
//   .hotel-room-title {
//     font-size: 30px;
//     line-height: 1.13;
//     margin-bottom: 16px;
//   }
// }

// @media screen and (min-width: 1280px) {
//   .hotel-room-title {
//     font-size: 36px;
//     line-height: 1.14;
//     margin-bottom: 24px;
//   }
// }

// .hotel-room-description {
//   font-family: 'Montserrat';
//   font-weight: 600;
//   font-size: 12px;
//   line-height: 1.25;
//   letter-spacing: 0.02em;
//   color: #7a7a7a;
//   width: 258px;
//   margin-bottom: 32px;
// }

// .three-persons .slogan,
// .three-persons .logo,
// .three-persons .hotel-room-title {
//   text-align: right;
// }

// @media screen and (min-width: 1024px) {
//   .three-persons .hotel-room-title {
//     text-align: left;
//     width: 380px;
//     margin-right: 20px;
//     margin-left: auto;
//   }
// }

// @media screen and (min-width: 1280px) {
//   .three-persons .hotel-room-title {
//     text-align: left;
//     width: 510px;
//     margin-right: 0;
//     margin-left: auto;
//   }
// }

// .three-persons .hotel-room-description {
//   width: 242px;
//   margin-right: 59px;
//   margin-left: auto;
// }

// @media screen and (min-width: 1024px) {
//   .hotel-room-description {
//     width: 439px;
//     font-size: 16px;
//     line-height: 20px;
//     letter-spacing: 0.02em;
//     margin-bottom: 176px;
//   }
// }

// @media screen and (min-width: 1024px) {
//   .three-persons .hotel-room-description {
//     width: 400px;
//   }
// }

// @media screen and (min-width: 1280px) {
//   .hotel-room-description {
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 20px;
//     letter-spacing: 0.02em;
//     width: 400px;
//     margin-bottom: 188px;
//   }
// }

// @media screen and (min-width: 1024px) {
//   .three-persons .hotel-room-description {
//     text-align: left;
//     margin-right: 0;
//     margin-left: auto;
//   }
// }

// @media screen and (min-width: 1280px) {
//   .three-persons .slogan,
//   .three-persons .logo,
//   .three-persons .hotel-room-title {
//     margin-right: 57px;
//   }
// }

// @media screen and (min-width: 1280px) {
//   .three-persons .hotel-room-description {
//     margin-right: 160px;
//     text-align: left;
//   }
// }

// .hotel-room-image-right {
//   margin-left: auto;
//   margin-bottom: 0;
//   // margin-bottom: 298px;
//   box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
// }

// @media screen and (min-width: 1024px) {
//   .hotel-room-image-right {
//     // position: absolute;
//     // top: -32px;
//     // right: 112px;
//     margin-bottom: 0;
//     box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
//   }
// }

// .hotel-room-image-left {
//   margin-left: 0;
//   margin-bottom: auto;
//   margin-bottom: 298px;
//   box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
// }

// @media screen and (min-width: 1024px) {
//   .hotel-room-image-left {
//     // position: absolute;
//     // top: -32px;
//     // left: 112px;
//     margin-bottom: 0;
//     box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
//   }
// }

// .two-persons-lux .hotel-bath-image,
// .two-persons .hotel-bath-image {
//   // position: absolute;
//   // top: 640px;
//   // left: -120px;
//   overflow: hidden;
//   box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
// }

// .two-persons-lux .hotel-window-image,
// .two-persons .hotel-window-image {
//   // position: absolute;
//   // top: 640px;
//   // left: 90px;
//   box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
// }

// .three-persons .hotel-bath-image {
//   // position: absolute;
//   // top: 640px;
//   // left: 130px;
//   box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
// }

// .three-persons .hotel-window-image {
//   position: absolute;
//   top: 640px;
//   left: 340px;
//   overflow: hidden;
//   box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
// }

// @media screen and (min-width: 1024px) {
//   .two-persons-lux .hotel-bath-image,
//   .two-persons .hotel-bath-image {
//     position: static;
//     // margin-right: 40px;
//   }
// }

// @media screen and (min-width: 1024px) {
//   .two-persons-lux .hotel-window-image,
//   .two-persons .hotel-window-image {
//     position: static;
//   }
// }

// @media screen and (min-width: 1024px) {
//   .three-persons .hotel-bath-image {
//     position: static;
//     // margin-right: 40px;
//   }
// }

// @media screen and (min-width: 1024px) {
//   .three-persons .hotel-window-image {
//     position: static;
//   }
// }

@media screen and (min-width: 1024px) {
  .three-persons .low-part {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1024px) {
  .low-part {
    display: flex;
  }
}

.right-pictures {
  display: flex;
}

@media screen and (min-width: 1024px) {
  .hotel-buttons-block {
    display: block;
    padding-top: 41px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media screen and (min-width: 1240px) {
  .hotel-buttons-block {
    padding-top: 72px;
  }
}

@media screen and (min-width: 1024px) {
  .three-persons .hotel-buttons-block {
    margin-left: 0;
    margin-right: auto;
  }
}

// nedinix

.hotel-section {
  background-color: #fffdee;
  padding-top: 32px;
  padding-bottom: 32px;
}

.hotel-section.three-persons {
  background-color: #F0ECD6;
}

// .hotel-section .container .slider-wrapper {
//   overflow: hidden;
// }

.hotel-content-wrapper {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@media screen and (min-width: 1024px) {
  .hotel-content-wrapper > div {
    display: flex;
    flex-basis: calc(50% - 40px);
    // justify-content: center;
    flex-direction: column;
  }
}

.hotel-content.content-right {
  margin-left: auto;
}

.hotel-content.content-left {
  margin-right: auto;
}

.hotel-content:not(:last-of-type) {
  margin-bottom: 32px;
}

@media screen and (min-width: 1024px) {
  .hotel-content.content-right {
    position: relative;
  }

  .hotel-content.content-right .image {
    position: absolute;
    top: -64px;
  }
}

.slider-wrapper {
    margin-bottom: 20px;
}

.slider-content.left-side {
  position: relative;
  left: -95px;

}

.slider-content.right-side {
  position: relative;
  right: -95px;

}

@media screen and (min-width:1024px) {
  .slider-content.left-side,
  .slider-content.right-side {
    position: static;
  }
}

.slider-content {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.slider-content .image {
  overflow: visible;
}

.hotel-content.buttons {
  margin-left: auto;
  margin-right: auto;
}

.hotel-button:not(:last-of-type) {
  margin-bottom: 16px;
}

.list.slider-content {
  margin-top: 20px;
  justify-content: center;
  padding: 0;
}

@media screen and (min-width:1024px) {
  .list.slider-content {
    justify-content: start;
  }
}

.hotel-room-logo {
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: #494848;
  margin-bottom: 32px;
}

@media screen and (min-width: 1024px) {
  .hotel-room-logo {
    font-size: 64px;
    margin-bottom: 62px;
  }
}

@media screen and (min-width: 1280px) {
  .hotel-room-logo {
    margin-bottom: 72px;
  }
}

.hotel-button {
  width: 236px;
  height: 48px;
  padding-top: 14px;
  padding-bottom: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 25px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
  border: none;

  background-color: #000000;

  cursor: pointer;
}

.image {
  border-radius: 2px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}

.hotel-room-description {
  font-family: 'Montserrat';
      font-weight: 600;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 0.02em;
      color: #7a7a7a;
      width: 258px;
}

.hotel-room-title {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 12px;
}

.hotel-room-slogan {

      font-family: 'Times New Roman';
      font-size: 20px;
      line-height: 1.15;
      color: #b4b4b4;
      margin-bottom: 8px;
    
}

