<header class="header container">
  <nav class="header-nav">
    <a class="logo link" href="/src/index.html">mimiho</a>
    <ul class="header-list list">
      <li class="header-menu-item">
        <a class="header-item link" href="/src/restaurant.html">Ресторан</a>
        <a class="header-phone link" href="tel:095-555-95-33">
          <svg class="header-icons" width="24" height="24">
            <use href="/src/images/icons.svg#icon-phone"></use>
          </svg>
          <span class="header-phone-number">095 555 95 33</span></a
        >
      </li>
      <li class="header-menu-item">
        <a class="header-item link" href="/src/hotel.html">Готель</a>
        <a class="header-phone link" href="tel:095-555-95-33">
          <svg class="header-icons" width="24" height="24">
            <use href="/src/images/icons.svg#icon-phone"></use>
          </svg>
          <span class="header-phone-number">066 849 10 89</span></a
        >
      </li>
    </ul>
    <ul class="header-social-list list">
      <li>
        <a href="https://www.instagram.com/" class="hero-social-item" target="_blank">
          <svg width="24" height="24">
            <use href="/src/images/icons.svg#icon-insta"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/" class="hero-social-item" target="_blank">
          <svg width="24" height="24">
            <use href="/src/images/icons.svg#icon-face"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://telegram.org/" class="hero-social-item" target="_blank">
          <svg width="24" height="24">
            <use href="/src/images/icons.svg#icon-telega"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</header>
