<!-- modal table -->

<div class="modal" data-modal="1">
  <button class="js-modal-close">
    <svg class="modal-close-button" width="18" height="18">
      <use href="/src/images/icons.svg#icon-modal-close"></use>
    </svg>
  </button>

  <form autocomplete="off">
    <h2 class="form-title">Забронювати столик</h2>
    <div class="form-wrapp">
      <div class="form-group person-contact">
        <input
          class="form-field"
          type="text"
          name="name"
          id="modal-table-name"
          placeholder="Ваше ім'я"
          title="Для написання ім'я використовуйте кирилицю"
          pattern="^[А-Яа-яІі\s]+$"
          required
        />
        <label class="form-label" for="modal-table-name">
          На кого забронювати столик?
        </label>

        <input
          class="form-field"
          type="text"
          name="tel"
          id="modal-table-tel"
          placeholder="+38 (___) ___-__-__"
          title="Для написання номеру використовуйте формат +38 (___) ___-__-__"
          pattern="[\+]38\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
        />
        <label class="form-label" for="modal-table-tel">Номер телефону</label>
        required
      </div>

      <div class="form-group">
        <div class="modal-form-field select">
          <select id="modal-table-people" class="modal-select">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6+">6+</option>
          </select>
          <label for="modal-table-people" class="form-label"
            >Столик на яку кількість осіб?</label
          >
        </div>
        <div class="modal-form-field select">
          <select id="modal-table-day" class="modal-select">
            <option value="Понеділок">Понеділок</option>
            <option value="Вівторок">Вівторок</option>
            <option value="Середа">Середа</option>
            <option value="Четвер">Четвер</option>
            <option value="П'ятниця">П'ятниця</option>
            <option value="Субота">Субота</option>
            <option value="Неділя">Неділя</option>
            <option value="Інший">Узгодити при дзвінку</option>
          </select>
          <label for="modal-table-day" class="form-label"
            >На який день бронювати?</label
          >
        </div>
      </div>
    </div>
    <button type="submit" class="form-button">Оформити бронювання</button>
  </form>
</div>

<!-- modal room -->

<div class="modal" data-modal="2">
  <button class="js-modal-close">
    <svg class="modal-close-button" width="18" height="18">
      <use href="/src/images/icons.svg#icon-modal-close"></use>
    </svg>
  </button>

  <form class="modal-form" autocomplete="off">
    <h2 class="form-title">Забронювати Номер</h2>
    <ul class="modal-list">
      <li class="modal-list-item">
        <div class="modal-group modal-contacts">
          <div class="modal-form-field">
            <input
              type="text"
              name="name"
              id="modal-hotel-name"
              class="form-field item"
              placeholder="Ваше ім'я"
              title="Для написання ім'я використовуйте кирилицю"
              pattern="^[А-Яа-яІі\s]+$"
              required
            />
            <label for="modal-hotel-name" class="form-label"
              >На кого забронювати номер?</label
            >
          </div>
          <div class="modal-form-field">
            <input
              type="text"
              name="tel"
              id="modal-hotel-tel"
              class="form-field item"
              placeholder="+38 (___) ___-__-__"
              title="Для написання номеру використовуйте формат +38 (___) ___-__-__"
              pattern="[\+]38\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
              required
            />
            <label for="modal-hotel-tel" class="form-label"
              >Номер телефону</label
            >
          </div>
        </div>
      </li>
      <li class="modal-list-item">
        <div class="modal-group">
          <div class="modal-form-field select room-category">
            <select id="modal-room-type" class="modal-select">
              <option value="Двомісний">Двомісний</option>
              <option value="Двомісний люкс">Двомісний люкс</option>
              <option value="Трьохмісний">Трьохмісний</option>
            </select>
            <label for="modal-room-type" class="form-label room-category"
              >Категорія номеру</label
            >
          </div>
          <div class="room-order-date">
            <div class="modal-form-field select">
              <select id="modal-room-day" class="modal-select">
                <option value="Сьогодні">Сьогодні</option>
                <option value="Завтра">Завтра</option>
                <option value="Післязавтра">Післязавтра</option>
                <option value="Наступного тижня">Наступного тижня</option>
                <option value="Інша">Уточнити при дзвінку</option>
              </select>
              <label for="modal-room-day" class="form-label">Дата заїзду</label>
            </div>
            <div class="modal-form-field select">
              <select id="modal-room-checkout" class="modal-select">
                <option value="Сьогодні">Сьогодні</option>
                <option value="Завтра">Завтра</option>
                <option value="Післязавтра">Післязавтра</option>
                <option value="Наступного тижня">Наступного тижня</option>
                <option value="Інша">Уточнити при дзвінку</option>
              </select>
              <label for="modal-room-checkout" class="form-label">
                Дата виїзду
              </label>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <button type="submit" class="form-button">Оформити бронювання</button>
  </form>
</div>

<!-- modal room price -->

<div class="modal" data-modal="3">
  <button class="js-modal-close">
    <svg class="modal-close-button" width="18" height="18">
      <use href="/src/images/icons.svg#icon-modal-close"></use>
    </svg>
  </button>
  <form autocomplete="off">
    <h2 class="form-title form-title-price">Ціни на номер</h2>
    <p class="room-category-title">Двомісний люкс</p>
    <p class="room-category-label">Категорія номеру</p>
    <div class="form-wrapp">
      <div class="form-group">
        <input
          class="form-field"
          type="text"
          name="amount"
          id="modal-room-amount"
          placeholder="1"
          title="Введіть кількість ночей, на яку хочете забронювати номер"
          pattern="[1-9]]{1,2}"
          required
        />
        <label class="form-label" for="modal-room-amount">
          Кількість ночей
        </label>
      </div>
      <div class="form-group">
        <div class="price-field">
          <span class="price-field-text">1000</span>
        </div>
        <label class="form-label">ціна за ніч (грн)</label>
      </div>
    </div>
    <button type="submit" class="form-button">Забронювати номер</button>
  </form>
</div>

<!-- overlay -->

<div class="overlay-modal js-overlay-modal"></div>
