<section class="about-hotel">
  <div class="about-hotel-container container">
    <h2 class="about-hotel-header">About our hotel</h2>
    <p class="about-hotel-semititle">Amet minim mollit non</p>
    <p class="about-hotel-title">MIMIHO</p>
    <p class="about-hotel-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          /src/images/main-page/about-hotel/1-apartm-desk@1x.jpg 1x,
          /src/images/main-page/about-hotel/1-apartm-desk@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /src/images/main-page/about-hotel/1-apartm-tab@1x.jpg 1x,
          /src/images/main-page/about-hotel/1-apartm-tab@2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          /src/images/main-page/about-hotel/1-apartm-mob@1x.jpg 1x,
          /src/images/main-page/about-hotel/1-apartm-mob@2x.jpg 2x
        "
        media="(min-width: 414px)"
      />
      <source
        srcset="
          /src/images/main-page/about-hotel/1-apartm-mob@1x.jpg 1x,
          /src/images/main-page/about-hotel/1-apartm-mob@2x.jpg 2x
        "
        media="(max-width: 413px)"
      />
      <img
        class="about-hotel-img-1"
        src="/src/images/main-page/about-hotel/1-apartm-desk@1x.jpg"
        alt="Bedroom in the hotel"
      />
    </picture>

    <div class="about-hotel-desc">
      <p class="about-hotel-desc-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture>
        <source
          srcset="
            /src/images/main-page/about-hotel/2-apartm-desk@1x.jpg 1x,
            /src/images/main-page/about-hotel/2-apartm-desk@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/main-page/about-hotel/2-apartm-tab@1x.jpg 1x,
            /src/images/main-page/about-hotel/2-apartm-tab@2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            /src/images/main-page/about-hotel/2-apartm-mob@1x.jpg 1x,
            /src/images/main-page/about-hotel/2-apartm-mob@2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <source
          srcset="
            /src/images/main-page/about-hotel/2-apartm-mob@1x.jpg 1x,
            /src/images/main-page/about-hotel/2-apartm-mob@2x.jpg 2x
          "
          media="(max-width: 413px)"
        />
        <img
          class="about-hotel-img-2"
          src="/src/images/main-page/about-hotel/2-apartm-desk@1x.jpg"
          alt="Hotel seating area"
        />
      </picture>
    </div>
    <div class="about-hotel-slider-box">
      <div class="about-hotel-slider-list">
        <picture class="about-kitchen-slider">
          <source
            srcset="
              /src/images/main-page/about-hotel/room-slid-1-desk@1x.jpg 1x,
              /src/images/main-page/about-hotel/room-slid-1-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/main-page/about-hotel/room-slid-1-tab@1x.jpg 1x,
              /src/images/main-page/about-hotel/room-slid-1-tab@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              /src/images/main-page/about-hotel/room-slid-1-mob@1x.jpg 1x,
              /src/images/main-page/about-hotel/room-slid-1-mob@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <img
            src="/src/images/main-page/about-hotel/room-slid-1-desk@1x.jpg"
            alt="Folded towels"
          />
        </picture>

        <picture class="about-kitchen-slider">
          <source
            srcset="
              /src/images/main-page/about-hotel/room-slid-2-desk@1x.jpg 1x,
              /src/images/main-page/about-hotel/room-slid-2-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/main-page/about-hotel/room-slid-2-tab@1x.jpg 1x,
              /src/images/main-page/about-hotel/room-slid-2-tab@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              /src/images/main-page/about-hotel/room-slid-2-mob@1x.jpg 1x,
              /src/images/main-page/about-hotel/room-slid-2-mob@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <img
            src="/src/images/main-page/about-hotel/room-slid-2-desk@1x.jpg"
            alt="Hotel reception"
          />
        </picture>
      </div>
      <ul class="about-hotel-icon-list list">
        <li class="about-hotel-icon-item">
          <button class="about-hotel-icon-button">
            <svg class="about-hotel-slider-icon" width="32" height="32">
              <use href="/src/images/icons.svg#icon-slide-left"></use>
            </svg>
          </button>
        </li>
        <li class="about-hotel-icon-item">
          <button class="about-hotel-icon-button">
            <svg class="about-hotel-slider-icon" width="32" height="32">
              <use href="/src/images/icons.svg#icon-slide-right"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
    <!-- <div>
      <div class="swiper-slide">
        <img
          srcset="
            /src/images/sliders/photo_slider_desk/1_slider_desk@1x.jpg    254w,
            /src/images/sliders/photo_slider_tab/1_slider_tab@1x.jpg      194w,
            /src/images/sliders/photo_slider_mobil/1_slider_mobile@1x.jpg 245w,
            /src/images/sliders/photo_slider_desk/1_slider_desk@2x.jpg    508w,
            /src/images/sliders/photo_slider_tab/1_slider_tab@2x.jpg      388w,
            /src/images/sliders/photo_slider_mobil/1_slider_mobile@1x.jpg 490w
          "
          sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 50vw"
          src="/src/images/sliders/photo_slider_desk/1_slider_desk@1x.jpg"
          alt="Sofa and chest of drawers"
        />

        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>
      <div class="swiper-slide">
        <img
          srcset="
            /src/images/sliders/photo_slider_desk/3_slider_desk@1x.jpg    254w,
            /src/images/sliders/photo_slider_tab/3_slider_tab@1x.jpg      194w,
            /src/images/sliders/photo_slider_mobil/3_slider_mobile@1x.jpg 245w,
            /src/images/sliders/photo_slider_desk/3_slider_desk@2x.jpg    508w,
            /src/images/sliders/photo_slider_tab/3_slider_tab@2x.jpg      388w,
            /src/images/sliders/photo_slider_mobil/3_slider_mobile@1x.jpg 490w
          "
          sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 50vw"
          src="/src/images/sliders/photo_slider_desk/3_slider_desk@1x.jpg"
          alt="Sofa"
        />

        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>
      <div class="swiper-slide">
        <img
          srcset="
            /src/images/sliders/photo_slider_desk/5_slider_desk@1x.jpg    254w,
            /src/images/sliders/photo_slider_tab/5_slider_tab@1x.jpg      194w,
            /src/images/sliders/photo_slider_mobil/5_slider_mobile@1x.jpg 245w,
            /src/images/sliders/photo_slider_desk/5_slider_desk@2x.jpg    508w,
            /src/images/sliders/photo_slider_tab/5_slider_tab@2x.jpg      388w,
            /src/images/sliders/photo_slider_mobil/5_slider_mobile@1x.jpg 490w
          "
          sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 50vw"
          src="/src/images/sliders/photo_slider_desk/5_slider_desk@1x.jpg"
          alt="Rest area"
        />

        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>
      <div class="swiper-slide">
        <img
          srcset="
            /src/images/sliders/photo_slider_desk/11_slider_desk@1x.jpg    254w,
            /src/images/sliders/photo_slider_tab/11_slider_tab@1x.jpg      194w,
            /src/images/sliders/photo_slider_mobil/11_slider_mobile@1x.jpg 245w,
            /src/images/sliders/photo_slider_desk/11_slider_desk@2x.jpg    508w,
            /src/images/sliders/photo_slider_tab/11_slider_tab@2x.jpg      388w,
            /src/images/sliders/photo_slider_mobil/11_slider_mobile@1x.jpg 490w
          "
          sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 50vw"
          src="/src/images/sliders/photo_slider_desk/11_slider_desk@1x.jpg"
          alt="Hall"
        />

        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>
    </div> -->
  </div>
</section>
