<section class="about-hotel">
  <div class="about-hotel-container container">
    <h2 class="about-hotel-header">About our hotel</h2>
    <p class="about-hotel-semititle">Amet minim mollit non</p>
    <p class="about-hotel-title">MIMIHO</p>
    <p class="about-hotel-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          /src/images/main-page/about-hotel/1-apartm-desk@1x.jpg 460w,
          /src/images/main-page/about-hotel/1-apartm-desk@2x.jpg 920w
        "
        media="(min-width: 1280px)"
        sizes="(min-width: 460px) 460px, 50vw"
      />
      <source
        srcset="
          /src/images/main-page/about-hotel/1-apartm-tab@1x.jpg 400w,
          /src/images/main-page/about-hotel/1-apartm-tab@2x.jpg 800w
        "
        media="(min-width: 1024px)"
        sizes="(min-width: 400px) 400px, 50vw"
      />
      <source
        srcset="
          /src/images/main-page/about-hotel/1-apartm-mob@1x.jpg 244w,
          /src/images/main-page/about-hotel/1-apartm-mob@2x.jpg 488w
        "
        media="(min-width: 414px)"
        sizes="(min-width: 244px) 244px, 50vw"
      />
      <source
        srcset="
          /src/images/main-page/about-hotel/1-apartm-mob@1x.jpg 200w,
          /src/images/main-page/about-hotel/1-apartm-mob@2x.jpg 400w
        "
        media="(max-width: 413px)"
        sizes="(min-width: 200px) 200px, 50vw"
      />
      <img
        class="about-hotel-img-1"
        src="/src/images/main-page/about-hotel/1-apartm-desk@1x.jpg"
        alt="Bedroom in the hotel"
      />
    </picture>

    <div class="about-hotel-desc">
      <p class="about-hotel-desc-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture>
        <source
          srcset="
            /src/images/main-page/about-hotel/2-apartm-desk@1x.jpg 460w,
            /src/images/main-page/about-hotel/2-apartm-desk@2x.jpg 920w
          "
          media="(min-width: 1280px)"
          sizes="(min-width: 460px) 460px, 50vw"
        />
        <source
          srcset="
            /src/images/main-page/about-hotel/2-apartm-tab@1x.jpg 350w,
            /src/images/main-page/about-hotel/2-apartm-tab@2x.jpg 700w
          "
          media="(min-width: 1024px)"
          sizes="(min-width: 350px) 350px, 50vw"
        />
        <source
          srcset="
            /src/images/main-page/about-hotel/2-apartm-mob@1x.jpg 200w,
            /src/images/main-page/about-hotel/2-apartm-mob@2x.jpg 400w
          "
          media="(min-width: 414px)"
          sizes="(min-width: 200px) 200px, 50vw"
        />
        <source
          srcset="
            /src/images/main-page/about-hotel/2-apartm-mob@1x.jpg 150w,
            /src/images/main-page/about-hotel/2-apartm-mob@2x.jpg 300w
          "
          media="(max-width: 413px)"
          sizes="(min-width: 150px) 150px, 50vw"
        />
        <img
          class="about-hotel-img-2"
          src="/src/images/main-page/about-hotel/2-apartm-desk@1x.jpg"
          alt="Hotel seating area"
        />
      </picture>
    </div>
    <div class="about-hotel-slider-box">
      <div class="about-hotel-slider-list">
        <picture class="about-kitchen-slider">
          <source
            srcset="
              /src/images/main-page/about-hotel/room-slid-1-desk@1x.jpg 254w,
              /src/images/main-page/about-hotel/room-slid-1-desk@2x.jpg 508w
            "
            media="(min-width: 1280px)"
            sizes="(min-width: 254px) 254px, 50vw"
          />
          <source
            srcset="
              /src/images/main-page/about-hotel/room-slid-1-tab@1x.jpg 194w,
              /src/images/main-page/about-hotel/room-slid-1-tab@2x.jpg 388w
            "
            media="(min-width: 1024px)"
            sizes="(min-width: 194px) 194px, 50vw"
          />
          <source
            srcset="
              /src/images/main-page/about-hotel/room-slid-1-mob@1x.jpg 245w,
              /src/images/main-page/about-hotel/room-slid-1-mob@2x.jpg 490w
            "
            media="(max-width: 1023px)"
            sizes="(min-width: 245px) 245px, 50vw"
          />
          <img
            src="/src/images/main-page/about-hotel/room-slid-1-desk@1x.jpg"
            alt="Folded towels"
          />
        </picture>

        <picture class="about-kitchen-slider">
          <source
            srcset="
              /src/images/main-page/about-hotel/room-slid-2-desk@1x.jpg 254w,
              /src/images/main-page/about-hotel/room-slid-2-desk@2x.jpg 508w
            "
            media="(min-width: 1280px)"
            sizes="(min-width: 254px) 254px, 50vw"
          />
          <source
            srcset="
              /src/images/main-page/about-hotel/room-slid-2-tab@1x.jpg 194w,
              /src/images/main-page/about-hotel/room-slid-2-tab@2x.jpg 388w
            "
            media="(min-width: 1024px)"
            sizes="(min-width: 194px) 194px, 50vw"
          />
          <source
            srcset="
              /src/images/main-page/about-hotel/room-slid-2-mob@1x.jpg  61w,
              /src/images/main-page/about-hotel/room-slid-2-mob@2x.jpg 122w
            "
            media="(max-width: 1023px)"
            sizes="(min-width: 61px) 61px, 50vw"
          />
          <img
            src="/src/images/main-page/about-hotel/room-slid-2-desk@1x.jpg"
            alt="Hotel reception"
          />
        </picture>
      </div>
      <ul class="about-hotel-icon-list list">
        <li class="about-hotel-icon-item">
          <button class="about-hotel-icon-button">
            <svg class="about-hotel-slider-icon" width="32" height="32">
              <use href="/src/images/icons.svg#icon-slide-left"></use>
            </svg>
          </button>
        </li>
        <li class="about-hotel-icon-item">
          <button class="about-hotel-icon-button">
            <svg class="about-hotel-slider-icon" width="32" height="32">
              <use href="/src/images/icons.svg#icon-slide-right"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
