<section class="contacts-section">
  <div class="container">
    <div class="contacts-box">
      <div class="contacts-description">
        <h2 class="contacts-title">MIMINO</h2>
        <p class="contacts-text">Ресторанно-готельний комплекс</p>
      </div>
      <div class="contacts-wrapp list">
        <p class="contacts-block title">Ресторан</p>
        <div class="contacts-block restoraunt">
          <svg class="contacts-svg" width="12" height="24">
            <use href="/src/images/icons.svg#icon-phone"></use>
          </svg>
          <a class="contacts-tel link" href="tel:380-95-555-95-33">
            095 555 95 33
          </a>
        </div>
      </div>
      <div class="contacts-wrapp list">
        <p class="contacts-block title">Готель</p>
        <div class="contacts-block full">
          <svg class="contacts-svg" width="12" height="24">
            <use href="/src/images/icons.svg#icon-phone"></use>
          </svg>
          <a class="contacts-tel first link" href="tel:+380-66-849-10-89">
            066 849 10 89
          </a>
          <a class="contacts-tel link" href="tel:+380-67-275-85-40">
            067 275 85 40
          </a>
        </div>
      </div>
      <address class="contacts-geolocation">
        <a
          href="https://goo.gl/maps/NVocDQjGp3gTdA837"
          class="contacts-location"
        >
          <svg class="contacts-svg-geo" width="24" height="24">
            <use href="/src/images/icons.svg#icon-mapa"></use>
          </svg>
          <span> Україна, м. Полтава, вул. Маршала Бірюзова, 15 </span>
        </a>
      </address>
    </div>

    <!-- <div class="maps"> -->
    <iframe
      class="maps"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.923398119505!2d34.524357616275445!3d49.59919397936694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e0!3m2!1sru!2sua!4v1675280754114!5m2!1sru!2sua"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      height="220"
    >
    </iframe>
    <!-- </div> -->
  </div>
</section>
