<section class="details-hotel details-hotel-overlay">
  <div class="container">
    <div class="details-hotel-blok">
      <h2 class="details-hotel-title">MIMIHO</h2>
      <h3 class="details-hotel-subtitle">Готель</h3>
      <p class="details-hotel-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="details-hotel-slider">
      <div class="details-hotel-list">
        <img
          class="details-hotel-img"
          srcset="
            /src/images/main-page/details-of-hotel/hotel-slid-3@1x.jpg 1x,
            /src/images/main-page/details-of-hotel/hotel-slid-3@2x.jpg 2x
          "
          src="/src/images/main-page/details-of-hotel/hotel-slid-3@1x.jpg"
          alt="Кeception"
          height="270"
          loading="lasy"
        />
        <img
          class="details-hotel-img"
          srcset="
            /src/images/main-page/details-of-hotel/hotel-slid-2@1x.jpg 1x,
            /src/images/main-page/details-of-hotel/hotel-slid-2@2x.jpg 2x
          "
          src="/src/images/main-page/details-of-hotel/hotel-slid-2@1x.jpg"
          alt="Breakfast"
          height="270"
          loading="lasy"
        />
        <img
          class="details-hotel-img"
          srcset="
            /src/images/main-page/details-of-hotel/hotel-slid-1@1x.jpg 1x,
            /src/images/main-page/details-of-hotel/hotel-slid-1@2x.jpg 2x
          "
          src="/src/images/main-page/details-of-hotel/hotel-slid-1@1x.jpg"
          alt="Room"
          height="270"
          loading="lasy"
        />
        -->
      </div>

      <div class="details-hotel-block-btn">
        <button
          type="button"
          class="details-hotel-btn js-open-modal"
          data-modal="2"
        >
          Забронювати номер
        </button>
        <button
          type="button"
          class="details-hotel-btn js-open-modal"
          data-modal="3"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
