<section class="details-rest details-rest-overlay">
  <div class="container">
    <div class="details-rest-blok">
      <p class="details-rest-title">MIMIHO</p>
      <h2 class="details-rest-subtitle">Ресторан</h2>
      <p class="details-rest-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="details-rest-slider">
      <div class="details-rest-slider-items">
        <div class="details-rest-list">
          <img
            class="details-rest-img"
            src="/src/images/main-page/details-of-restaurant/rest-slider-1@1x.jpg"
            alt="Котлети"
            height="270"
            loading="lazy"
          />
          <img
            class="details-rest-img"
            src="/src/images/main-page/details-of-restaurant/rest-slider-2@1x.jpg"
            alt="Шашлик"
            height="270"
            loading="lazy"
          />
          <img
            class="details-rest-img"
            src="/src/images/main-page/details-of-restaurant/rest-slider-3@1x.jpg"
            alt="Стейк"
            height="270"
            loading="lazy"
          />
        </div>
        <ul class="details-rest-icon-list list">
          <li class="details-rest-icon-item">
            <svg class="details-rest-slider-icon" width="32" height="32">
              <use href="/src/images/icons.svg#icon-slide-left"></use>
            </svg>
          </li>
          <li class="details-rest-icon-item">
            <svg class="details-rest-slider-icon" width="32" height="32">
              <use href="/src/images/icons.svg#icon-slide-right"></use>
            </svg>
          </li>
        </ul>
      </div>

      <div class="details-rest-block-btn">
        <button
          type="button"
          class="details-rest-btn js-open-modal"
          data-modal="1"
        >
          Забронювати столик
        </button>
        <a class="details-rest-btn decore-link" href="/src/restaurant.html#menu"
          >Переглянути меню</a
        >
      </div>
    </div>
  </div>
</section>
