<section class="details-hotel details-hotel-overlay">
  <div class="container">
    <div class="details-hotel-blok">
      <p class="details-hotel-title">MIMIHO</p>
      <h2 class="details-hotel-subtitle">Готель</h2>
      <p class="details-hotel-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="details-hotel-slider">
      <div class="details-hotel-slider-items">
        <div class="details-hotel-list">
          <img
            class="details-hotel-img"
            src="/src/images/main-page/details-of-hotel/hotel-slid-3@1x.jpg"
            alt="Рецепція"
            height="270"
            loading="lazy"
          />
          <img
            class="details-hotel-img"
            src="/src/images/main-page/details-of-hotel/hotel-slid-2@1x.jpg"
            alt="Сніданок "
            height="270"
            loading="lazy"
          />
          <img
            class="details-hotel-img"
            src="/src/images/main-page/details-of-hotel/hotel-slid-1@1x.jpg"
            alt="Кімната"
            height="270"
            loading="lazy"
          />
        </div>
        <ul class="details-hotel-icon-list list">
          <li class="details-hotel-icon-item">
            <svg class="details-hotel-slider-icon" width="32" height="32">
              <use href="/src/images/icons.svg#icon-slide-left"></use>
            </svg>
          </li>
          <li class="details-hotel-icon-item">
            <svg class="details-hotel-slider-icon" width="32" height="32">
              <use href="/src/images/icons.svg#icon-slide-right"></use>
            </svg>
          </li>
        </ul>
      </div>

      <div class="details-hotel-block-btn">
        <button
          type="button"
          class="details-hotel-btn js-open-modal"
          data-modal="2"
        >
          Забронювати номер
        </button>
        <button
          type="button"
          class="details-hotel-btn js-open-modal"
          data-modal="3"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
