<section class="details-hotel details-hotel-overlay">
  <div class="container">
    <div class="details-hotel-blok">
      <h2 class="details-hotel-title">MIMIHO</h2>
      <h3 class="details-hotel-subtitle">Ресторан</h3>
      <p class="details-hotel-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="details-hotel-block-btn">
      <button type="button" class="details-hotel-btn">
        Забронювати столик
      </button>
      <button type="button" class="details-hotel-btn">Переглянути меню</button>
    </div>
  </div>
</section>
