<section class="details-rest details-rest-overlay">
  <div class="container">
    <div class="details-rest-blok">
      <h2 class="details-rest-title">MIMIHO</h2>
      <h3 class="details-rest-subtitle">Ресторан</h3>
      <p class="details-rest-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="details-rest-slider">
      <img
        class="details-rest-img"
        src="./images/main_page/details_of_restaurant/rest_slider_1@1x.jpg"
        alt="Стейк"
        width="414"
      />

      <div class="details-rest-block-btn">
        <button type="button" class="details-rest-btn">
          Забронювати столик
        </button>
        <button type="button" class="details-rest-btn">Переглянути меню</button>
      </div>
    </div>
  </div>
</section>
