<!-- ++++++++++++++ section HERO ++++++++++++++++++++++++++++++++++++++++-->
		<section class="hero">
				<div class="container">
					<a class="address-link link" href="./index.html">
						<svg class="" width="20" height="20">
							<use href="./images/icons.svg#icon-mapa"></use>
						</svg>
						<address class="address">
							Україна, м. Полтава, <br />
							вул. Маршала Бірюзова, 15
						</address>
					</a>
					<h1 class="hero-title">MIMIHO</h1>
					<p class="hero-text">Ресторанно-готельний комплекс</p>
					<p class="hero-slogan">СМАК ЖИТТЯ 24/7</p>
					<button class="button-order" type="button" data-modal-open>Забронювати столик</button>
					<button class="button-order" type="button" data-modal-open>Забронювати номер</button>
					<ul class="hero-social-list">
						<li>
							<a href="" class="hero-social-item">
								<svg width="24" height="24">
									<use href="./images/icons.svg#icon-insta"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="" class="hero-social-item">
								<svg width="24" height="24">
									<use href="./images/icons.svg#icon-face"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="" class="hero-social-item">
								<svg width="24" height="24">
									<use href="./images/icons.svg#icon-telega"></use>
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</section>
			<!-- ++++++++++++++++++++++ section restaurant ++++++++++++++++++++++++++++++++++++ -->
			<section class="about-restaurant container"> 
				<h2 hidden>Ресторан</h2>
				<p>Amet minim mollit non</p>
				<p>MIMIHO</p>
				<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
					Velit officia consequat duis enim velit mollit. Exercitation veniam consequat 
					sunt nostrud amet.</p>
			</section>
