.about-hotel {
  background-color: #fffdee;
}

.about-hotel-container {
  padding-top: 18px;
  padding-bottom: 20px;
}

.about-hotel-header {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-hotel-semititle {
  text-align: end;
  margin-bottom: 6px;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.16;
  color: #b4b4b4;
}

.about-hotel-title {
  width: 127px;
  margin-left: auto;
  margin-bottom: 16px;

  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: #494848;
}

.about-hotel-text {
  width: 241px;
  margin-left: auto;
  margin-bottom: 28px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #5f5f5f;
}

.about-hotel-img-1 {
  margin-right: auto;
  margin-bottom: 32px;

  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.about-hotel-desc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 32px;
  gap: 21px;
}

.about-hotel-desc-text {
  width: 163px;
  padding-bottom: 20px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: #c79002;
}

.about-hotel-img-2 {
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.about-hotel-slider-box {
  position: relative;
}

.about-hotel-slider-list {
  position: relative;
  left: -15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  gap: 20px;
}

.about-hotel-slider {
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.about-hotel-icon-list {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
}

.about-hotel-icon-button {
  border: none;
  color: #000000;
  background-color: transparent;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-hotel-icon-button:hover,
.about-hotel-icon-button:focus {
  color: #f3c653;
}

.about-hotel-slider-icon {
  fill: currentColor;
}

@media screen and (min-width: 414px) {
  .about-hotel-desc-text {
    font-size: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .about-hotel-container {
    position: relative;
    padding-top: 120px;
    padding-bottom: 262px;
  }

  .about-hotel-semititle {
    margin-bottom: 4px;

    font-size: 32px;
  }

  .about-hotel-title {
    width: 204px;
    margin-left: auto;
    margin-bottom: 24px;

    font-size: 64px;
  }

  .about-hotel-text {
    margin-bottom: 142px;
    width: 419px;

    font-size: 16px;
  }

  .about-hotel-img-1 {
    position: absolute;
    margin-bottom: 0;
    top: -24px;
    left: 112px;

    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
  
  .about-hotel-desc {
    justify-content: flex-end;
    gap: 48px;
    margin-bottom: 0;
  }

  .about-hotel-desc-text {
    width: 312px;
    padding-bottom: 0;

    font-size: 16px;
  }

  .about-hotel-slider-box {
    position: absolute;
    left: 47px;
    bottom: 32px;
  }

  .about-hotel-slider-list {
    left: 0;
    justify-content: flex-end;
    flex-direction: row;
    margin-bottom: 32px;
    gap: 40px;
  }

  .about-hotel-icon-list {
    padding-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .about-hotel-container {
    padding-bottom: 197px;
  }

  .about-hotel-title {
    width: 202px;
  }

  .about-hotel-text {
    width: 488px;
    margin-right: 0;
    margin-bottom: 162px;
  }

  .about-hotel-img-1 {
    left: 180px;
  }

  .about-hotel-desc {
    margin-bottom: 0;
    gap: 45px;
  }

  .about-hotel-desc-text {
    width: 311px;
    padding-bottom: 104px;
  }

  .about-hotel-slider-box {
    left: 85px;
    bottom: 50px;
  }
  
  .about-hotel-slider-list {
    margin-bottom: 40px;
  }
}
