.hero {
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 413.98px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/main-page/hero/hero_hom_mob@1x.jpg);
  }
}
@media screen and (max-width: 413.98px) and (min-device-pixel-ratio: 2),
  screen and (max-width: 413.98px) and (min-resolution: 192dpi),
  screen and (max-width: 413.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/main-page/hero/hero_hom_mob@2x.jpg);
  }
}
@media screen and (min-width: 414px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/main-page/hero/hero_hom_tab@1x.jpg);
  }
}
@media screen and (min-width: 414px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 414px) and (min-resolution: 192dpi),
  screen and (min-width: 414px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/main-page/hero/hero_hom_tab@2x.jpg);
  }
}
@media screen and (min-width: 1025px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/main-page/hero/hero_hom_desk@1x.jpg);
  }
}
@media screen and (min-width: 1025px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1025px) and (min-resolution: 192dpi),
  screen and (min-width: 1025px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/src/images/main-page/hero/hero_hom_desk@2x.jpg);
  }
}
.address-link {
  width: 210px;
  margin-left: auto;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  transition: transform 300ms linear;
}
.address-link:hover {
  transform: scale(1.15);
  .address { color: #f3c653; }
  .icon { fill:rgba(243, 198, 83, 0.7); 
          transform: scale(1.15);
  }
}
.address-link:focus {
  .address { color:#f3c653;  }
    .icon {
      fill: rgba(243, 198, 83, 0.7);
      transform: scale(1.15); }
}
.icon {
  fill: #f3c653; 
}
.icon:hover {
  fill: rgba(243, 198, 83, 0.7);
}

.address {
  font-style: normal;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.01em;
  color: #e5e5e5;
}

.hero-title {
  margin-left: calc(84px * 0.16);
  margin-bottom: 24px;
  padding-top: 70px;
  font-family: 'Film P3';
  font-weight: 700;
  font-style: normal;
  font-size: 84px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: #fff;
  text-align: center;
}

.hero-text {
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.hero-slogan {
  margin-bottom: 113px;
  font-family: 'Times New Roman MT Std';
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #fff;
  text-align: center;
}

.button-order {
  width: 236px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #fff;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.button-order:hover {
  background-color: #fff;
  border-radius: 25px;
}

.button-order:focus {
  background-color: #fff;
  border-radius: 25px;
  color: #f3c653;
}
.btn-ord-second-size {
  width: 232px;
}
.hero-button-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding-bottom: 0;
}

.hero-social-list {
  margin: 0;
  width: 112px;
  padding-top: 58px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 20px;
  align-items: center;
  list-style: none;
}

.hero-social-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 300ms linear;
  fill:#f3c653;
}

.hero-social-item:hover {
  transform: scale(1.2);
  fill: rgba(243, 198, 83, 0.7);
}
.hero-social-item:focus {
  fill: rgba(243, 198, 83, 0.7);
  transform: scale(1.2);
}
@media screen and (min-width: 414px) {
  .hero-title {
    margin-left: calc(96px * 0.288);
    font-size: 96px;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    padding-top: 100px;
    padding-bottom: 20px;
  }
  .hero .container {
    position: relative;
  }
  .hero-title {
    margin-left: calc(128px * 0.3);
    margin-bottom: 16px;
    padding-top: 88px;
    font-size: 128px;
    line-height: calc(138 / 128);
  }
  .hero-text {
    font-size: 20px;
    line-height: calc(41 / 36);
    margin-bottom: 56px;
  }

  .hero-slogan {
    margin-bottom: 145px;
    font-size: 36px;
    line-height: calc(41 / 36);
  }
  .address-link {
    position: absolute;
    z-index: 10;
    bottom: 64px;
    margin-left: 0;
  }
  .hero-social-list {
    padding-top: 25px;
  }

  .hero-button-list {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 40px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-social-list {
    display: none;
  }

  .hero-button-list {
    display: flex;
    justify-content: right;
    gap: 40px;
    padding-bottom: 64px;
  }
  .button-order {
    width: 258px;
  }
  .btn-ord-second-size {
    width: 254px;
  }
}
