.hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 64px 0 0 0;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(/src/images/header/header-bcg-mob@1x.jpg);
}

.address-link {
    margin-left: auto;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    padding: 8px 0;
    display: flex;
    max-width: 210px;
    align-items: center;
    justify-content: space-around;
}

.address {
    font-style: normal;
    font-size: 12px;
    line-height: calc(15 / 12);
    letter-spacing: 0.01em;
    color: #E5E5E5;
}

.hero-title {
    font-family: 'Film P3';
    font-weight: 700;
    font-style: normal;
    font-size: 96px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: #fff;
    text-align: center;
    margin-top: 70px;
}

.hero-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-top: 24px;
}

.hero-slogan {
    font-family: 'Times New Roman MT Std';
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 113px;
}

.button-order {
    display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #F3C653;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    width: 236px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    border: 2px solid #fff;
    border-radius: 25px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.hero-social-list {
    list-style: none;
    width: 112px;
    display: flex;
    flex-direction: row;
    margin-top: 58px;
    padding-bottom: 20px;
    gap: 20px;
    justify-content: center;
}

.hero-social-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 300ms linear;
}

.hero-social-item:hover {
    transform: scale(1.2);
}

.about-restaurant {
    background-color: #FFFDEE;
}